
body{ 
    margin: 0;
    height: 100%;
    background-color: rgb(238, 228, 171);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.parent{ 
    background-image:url('../images/bg.jpg');
    background-size: cover;

}
.title{ 

    height: 10vh;
    margin-left:7vw;
    margin-top: 5vh;
    border-radius: 10px;
    width: 40vw;
    height:15vh;
    background-image:url('../images/title.png');
    background-size: cover;
    /* border: 1px solid black; */

}

.bee{ 
    position: absolute;
    margin-top: 1vh;
    margin-left:5vw;
    right: 10vw;
    border-radius: 10px;
    width: 35vw;
    height: 60vh;

    background-image:url('../images/bee.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pastry{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* sets to row */
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 4vh 2vw;
    /* viewport width */
    width: 35vw;
    height: 3vh;
    background-color: rgb(168, 148, 112);
    color: rgb(255, 255, 255);
    margin: 1vh 0 0 0;
    background-image:url('../images/bar.jpg');
    background-size: cover;

}

.list{ 
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left:5vw;
    min-height: 70vh;
    width:40vw;
    border: 20px solid rgb(255, 255, 255);
    background-color:rgb(153, 196, 200);
    border-radius: 10px;
}

.name{ 
    width: 18vw;
    color: rgb(172, 130, 51);
}

.button{ 
    text-decoration: none;
    color: white;
    font-size:22px;
}
.create{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    border-radius: 10px;
    background-color:rgb(153, 196, 200);
    position: absolute;

    top: 81vh;
    /* how much goes down starting from top */
    right: 15vw;
    /* how much over starting from right */
    color: white;
    height: 3vh;
    padding: 4vh 2vw;
    font-size: 30px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}